[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.1"
sqlalchemy = "==2.0.30"
mysqlclient = "==2.2.4"
llama-index = "==0.10.38"
langchain = "==0.2.0"
sentence-transformers = "==2.7.0"
chromadb = "==0.5.0"
torch = "==2.3.0"
accelerate = "==0.30.1"
xformers = "*"
transformers = "==4.41.1"
numpy = "==1.26.4"
pandas = "==2.2.2"
faiss-cpu = "==1.8.0"
langchain-community = "*"
langchain-core = "*"
llama-index-llms-ollama = "*"
llama-index-embeddings-huggingface = "*"
mysql-connector-python = "*"
llama-index-vector-stores-chroma = "*"
llama-index-readers-web = "*"

[dev-packages]

[requires]
python_version = "3.9"
